.search-form {
    margin-top: 1.75rem;
    width: 100%;
    font-family: Trebuchet MS, sans-serif;
}

.search-full-width {
    width: 100%;
}

.custom-font {
    font-family: Trebuchet MS, sans-serif;
    font-size: .75rem;
}

